button {
    width: 120px;
    height: 40px;
    cursor: pointer;
}
.red {
    color: red;
}
.blue {
    color: blue;
}
.green {
    color: green;
}
.red-btn {
    background-color: red;
    color: white;
    border-radius: 10px;
    border: none;
}
.blue-btn {
    background-color: blue;
    color: white;
    border-radius: 10px;
    border: none;
}
.green-btn {
    background-color: green;
    color: white;
    border-radius: 10px;
    border: none;
}
